*{
    padding: 0px;
    margin: 0px;
}

body {
    /*background-color: #95af32;*/
}

.test {
    width: 520px;
    height: 201px;
    overflow: hidden;
}

.tmall_cycle {
    position: relative;
    width: 3120px;
    height: 201px;
}

/* 循环图共有属性 */
.tmall_cycle_item {
    float: left;
    width: 520px;
    height: 100%;
}

/* 第一组图 */
.tmall_first {

}

.tmall_1_1 {
    float: left;
    width: 172px;
    height: 201px;
    min-height: 100px;
    border-right:1px solid #e6e6e6;
}

.tmall_1_1 > img {
    width: 100%;
    height: 100%;
}

.tmall_1_2 {
    float: left;
    width: 347px;
    height: 201px;
}

.tmall_1_2 > div {
    float: left;
    width: 173px;
    height: 100px;
}

.tmall_1_2_1 {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.tmall_1_2_1 > img{
    width: 100%;
    height: 100%;
}

.tmall_1_2_2 {
    border-bottom: 1px solid #e6e6e6;
}

.tmall_1_2_2 > img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e6e6e6;
}

.tmall_1_2_3 {
    border-right: 1px solid #e6e6e6;
}

.tmall_1_2_3 > img {
    width: 100%;
    height: 100%;
    border-right: 1px solid #e6e6e6;
}

.tmall_1_2_4 > img {
    width: 100%;
    height: 100%;
}

/* 第二组图 */

.tmall_second > div {
    float: left;
    height: 155px;
    width:250px;
    margin-top: 23px;
}

.tmall_2_1 {
    margin-left: 5px;
}

.tmall_2_2 {
    margin-left: 10px;
}

/* 第三组图 */
.tmall_three_item {
    float: left;
    width: 130px;
    height: 200px;
}

.tmall_three_item > img {
    float: left;
    width: 129px;
    height: 100%;
}

.tmall_segment {
    float: right;
    width: 1px;
    height: 100%;
    background-color: #e6e6e6;
}

.tmall_3_4 {
    float: left;
    width: 128px;
    height: 200px;
}

/* 第四组图和第三组样式一样 */

/* 第五组图 */
.tmall_five > div {
    float: left;
    width: 129.25px;
    height: 66px;
}

.tmall_five > div > img {
    width: 100%;
    height: 100%;
}

/* 左边和底部有边框 */
.tmall_5_1 {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

/* 只有底部有边框 */
.tmall_5_2 {
    border-bottom: 1px solid #e6e6e6;
}

/* 只有左边框 */
.tmall_5_3 {
    border-right: 1px solid #e6e6e6;
}

