.tbh_nav {
    position: relative;
    width: 100%;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #ff9000;
}

a {
    color: #000000;
}

/* 正文上方内容 */
.J_nav {
    position: relative;
    left: 9%;
    width: 90%;
    height: 100%;
    min-width: 1250px;
}

.theme_mark {
    float: left;
    width: 190px;
    height: 30px;
    background-color: #FF4F22;
    min-width: 190px;
}

.theme_mark span {
    position: relative;
    width: 190px;
    height: 30px;
    text-align: center;
    top: 4px;
    left: 35%;
}

.nav_hd {
    float: left;
    width: 216px;
    height: 30px;
    min-width: 190px;
}

.nav_hd li {
    float: left;
    list-style: none;
    padding-left: 15px;
    padding-top: 4px;
    cursor: pointer;
}

.nav_bd {
    float: left;
    height: 100%;
    width: 349.36px;
}

.nav_bd li {
    float: left;
    list-style: none;
    padding-left: 15px;
    padding-top: 4px;
    cursor: pointer;
}

/** 主要内容 **/
.main {
    float: left;
    width: 900px;
    height: 100%;
}

.main_inner {
    position: relative;
    left: 9%;
    width: 1190px;
    height: 632px;
    background-color: #e6e6e6;
}

.mian_first {
    width: 900px;
    height: 522px;
}

.tbh_service {
     position: relative;
     float: left;
     width: 189px;
     height: 522px;
     border: 1px solid #FF4F22;
     font-size: 14px;
    background-color: #ffffff;
}

.service-bd {
    padding-top: 5px;
    padding-bottom: 3px;
    list-style: none;
}

.service-bd li {
    overflow: hidden;
    line-height: 32px;
    height: 32px;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
    color: #666;
    font-weight: 400;
}

.service-bd span {
    cursor: pointer;
}

/* 轮播图 */
.J_core {
    position: absolute;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    height: 521px;
    width:520px;
    z-index: 1;
}

.J_moudle {
    width: 520px;
    background: #FFFFFF;
}

.J_promo {
    position: relative;
    width: 520px;
    height: 280px;
    overflow: hidden;
}

/* 第二个轮播图 */
.tmall {
    position: relative;
    width: 520px;
    height: 230px;
    margin-top: 1px;
    overflow: hidden;
}

.tmall_hd {
    font-size: 14px;
    padding-top: 11px;
    border-bottom:3px solid #ff1648;
    position: relative;
    background-color: #f1f1f1;
}

.inner {
    height: 18px;
    line-height: 18px;
    position: relative;
}

.inner img {
    width: 136px;
    position: absolute;
    height: 19px;
    background-size: 122px 22px;
}

.inner > span {
    font-size: 12px;
    color: #666;
    position: relative;
    margin-left: 136px;
}

.inner > strong {
    position: absolute;
    right:0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.inner > strong > i {
    font-style: normal;
    color: #ff1648;
}

.tmall_content {
    width: 520px;
    height: 201px;
    overflow: hidden;
}

/* 浮动提醒当前第几页 */
.tmall_floater {
    position: relative;
    bottom: -3px;
    width: 86.6px;
    height: 3px;
    background: #000000;
}

/* 轮播图右边的竖条 */
.sub_column {
    float: right;
    width: 160px;
    height: 512px;
    margin-right: 10px;
    margin-top: 10px;
}

.column_first {
    overflow: hidden;
    height: 280px;
    background-color: #FFF;
}

.column_second {
    height: 230px;
    margin-top: 1px;
}

.column_second > span {
    font-size: 12px;
    font-weight: 400;
    background: #e6e6e6;
    color: #a1a1a1;
    margin-top: 6px;
    line-height: 30px;
}

.column_second > img {
    width: 160px;
    height: 200px;
    display: inline-block;
}

/* 轮播图下方,淘宝头条 */
.tbh_headline {
    position: relative;
    width: 890px;
    height: 100px;
    min-height: 0px;
    background-color: #FFFFFF;
    bottom: 0px;

}

.headline {
    position: relative;
    padding: 14px 14px 12px 20px;
    margin-top: 10px;
    background-color: #FFFFFF;
    height: 73px;
}

.headline_hd {
    width: 180px;
    height: 73px;
    float: left;
}

.headline_hd > img {
    width: 100%;
    height: 100%;
}

.headline_bd {
    height: 73px;
    overflow: hidden;
    width: 676px;
    position: relative;
    margin-left: 180px;
}

.mod > a > img {
    float: left;
    height: 73px;
    width: 130px;
}

.a-opacity {
    transition: opacity .2s;
}

.mod > a > h4  {
    margin-top: 2px;
    margin-left: 144px;
    color: #333;
    height: 28px;
    overflow: hidden;
    display: block;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
}

.mod > a > p {
    position: relative;
    margin-left: 144px;
    color: #999;
    height: 36px;
    overflow: hidden;
    line-height: 18px;
    font-size: 14px;
    top:0px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* 最右侧 */
.col_right {
    position: relative;
    float: right;
    width: 290px;
    height: 100%;
    margin-top: 10px;
}

.member {
    padding: 3px 0 10px 0;
    height:132px;
    padding-right: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

.member_bd {
    position: relative;
    height: 91px;
}

.avatar_wrapper {
    display: block;
    margin: 0px auto;
    width: 74px;
    height: 56px;
}

/* 用户头像 */
.avatar_wrapper > img {
    width: 50px;
    height: 50px;
}

/* 用户昵称 */
.member_nick_info {
    display: block;
    line-height: 17px;
    height: 17px;
    font-size: 12px;
}

.member_nick_info > strong {
    font-weight: 400;
}

.member_tjb {
    height: 17px;
    line-height: 17px;
    font-size: 12px;
}

.J_memberPunch {
    border-radius: 9px;
    background-clip: padding-box;
    background-color: #ffe4db;
    padding: 0 10px 0 20px;
    position: relative;
    border: none;
}

.h {
    color: #ff5000;
}
.club {
    margin-left: 2px;
}

/* 登录、注册、开店按钮 */
.member_ft {
    height: 40px;
    overflow: hidden;
    margin-top: 2px;
    padding-left: 15px;
}

.member_logout {
    height: 25px;
    margin-top: 8px;
}

.member_logout > a {
    float: left;
    line-height: 25px;
    margin-right: 7px;
    text-align: center;
    color: #fff;
    background-repeat: repeat-x;
    background-clip: padding-box;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    background-color: #ff5000;
}

.member_logout .btn-login {
    width: 92px;
}

.ml2 {
    width: 75px;
}

/* 网上有害信息举报 */
.tbh_tipOff > a{
    position: relative;
    padding-left: 82px;
    color: #f40;
    display: block;
    height:26px;
    line-height: 26px;
    background-color: #ffe4dd;
    font-size: 12px;
    font-weight: 200;
}

/* 向右的箭头 */
.tbh_tipOff  span {
    position: absolute;
    right:52px;
    top:9px;
    line-height: 0;
    width: 0;
    height: 0;
    border: solid;
    margin-left: 32px;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #f40;
}

/* 公告 */
.tbh_notice {
    height: 98px;
    padding-top: 10px;
    width: 290px;
    min-height: 0;
    background-color: #fff;
}

.notice_hd {
    position: relative;
    height: 24px;
    margin-top: 4px;
    overflow: hidden;
    margin-right: -2px;
    padding: 0 8px;
}

.notice_hd li {
    float: left;
    line-height: 20px;
    width: 32px;
    text-align: center;
    margin: 0 11px;
}

.notice_hd a {
    color: #3c3c3c;
    font-size: 12px;
}

.selected {
    font-size: 14px;
    font-weight: 900;
    border-bottom: 2px solid #ff5000;
}

.J_enter {
    font-size: 12px;
    font-weight: 300;
    border-bottom: none;
}

.notice_mod {
    margin: 0 12px;
    height:50px;
    overflow: hidden;
    padding-top: 9px;
    padding-bottom: 6px;
    list-style: none;
}

.notice_mod li {
    float: left;
    line-height: 25px;
    height: 25px;
    width:130px;
    overflow: hidden;
    font-size: 12px;
}

.notice_mod a {
    color: #000000;

}

.first li:first-child {
    width: 260px;
}

.first li:first-child a {
    color: #ff5000;
}

/* 充话费 */
.conve {
    border-top: 1px solid #f4f4f4;
    height: 231px;
    width: 290px;
    background-color: #FFFFFF;
}

.conve_list {
    width: 294px;
    list-style: none;
}

.conve_list a {
    padding-top: 1px;
    text-align: center;
    display: block;
}

.conve_list p {
    color: #333;
    line-height: 24px;
    font-size: 12px;
}

.conve_mod {
    float: left;
    width: 70px;
    height: 75px;
    border:1px solid #f4f4f4;
    border-left-color: transparent;
    border-top-color: transparent;
    display: list-item;
}

.conve_item_icon {
    display: inline-block;
    width: 24px;
    height:24px;
    margin-top: 11px;
}

.tbh_icon {
    background: url("https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png") 0 0 no-repeat;
}

.conve_item_1 .tbh_icon {
    background-position: 0 0;
}

.conve_item_2 .tbh_icon {
    background-position: 0 -85px;
}

.conve_item_3 .tbh_icon {
    background-position: 0 -44px;
}

.conve_item_4 .tbh_icon {
    background-position: 0 -132px;
}

.conve_item_5 .tbh_icon {
    background-position: 0 -176px;
}

.conve_item_6 .tbh_icon {
    background-position: 0 -220px;
}

.conve_item_7 .tbh_icon {
    background-position: 0 -264px;
}

.conve_item_8 .tbh_icon {
    background-position: 0 -308px;
}

.conve_item_9 .tbh_icon {
    background-position: 0 -352px;
}

.conve_item_10 .tbh_icon {
    background-position: 0 -396px;
}

.conve_item_11 .tbh_icon {
    background-position: 0 -440px;
}

.conve_item_12 .tbh_icon {
    background-position: 0 -484px;
}

/* 阿里 APP */
.tbh_app {
    padding-top: 1px;
    position: relative;
    background-color: #FFFFFF;
}

.apps {
    height: 110px;
    margin-top: 0;
    position: relative;
}

.apps .more {
    position: absolute;
    right:10px;
    font-size: 12px;
    font-weight: 400;
}

.apps h3 {
    font-size: 14px;
    padding-left: 14px;
    height:30px;
    z-index: 2;
    position: relative;
}

.apps_nav {
    padding-left: 23px;
    position: relative;
    height:84px;
    list-style: none;
}

.nav {
    transition: all 0s;
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 21px;
    margin-bottom: 8px;
}

.nav img {
    width: 32px;
    height: 32px;
}

.app_qr {
    touch-action: none;
    bottom:39px;
    left: -32px;
    width: 90px;
    height: 102px;
    background-color: #fff;
    border:1px solid #dedede;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 2;
}

.app_qr img {
    width: 66px;
    height: 66px;
    padding: 12px;
}

.app_qr p {
    position: absolute;
    bottom:3px;
    left: 0;
    right: 0;
    height:20px;
    line-height: 20px;
    color: #666;
    overflow: hidden;
    font-size: 12px;
}