/*顶部栏*/
.top_bar {
    position: relative;
    left: 9.5%;
    width: 83%;
    min-width: 1050px;
    height: 50px;
    float: left;
    line-height: 50px;
    font-size: 12px;
}

.top_bar > div {
    float: left;
    width: 50px;
    height: 50px;
}

.top_bar > input {
    float: left;
}

.top_bar > span {
    float: left;
}

.top_bar > p{
    width: 100px;
    float: left;
}

#goods_item {
    width: 23.7%;
    text-align: center;
    padding-left: 6.4%;
    text-align: left;
}

#goods_info {
    width: 17.5%;
    padding-right: 40px;
}

#goods_unit_price {
    width: 9%;
    padding-right: 10px;
}

#goods_amount {
    width: 8.3%;
}

#goods_price {
    width: 9.7%;
}

#goods_action {
    width: 10%;
    padding-left: 50px;
}