#order-list {
    position: relative;
    left: 9.5%;
    float: left;
    width: 80%;
    min-width: 1050px;
}

/* 去除点击后的篮框 */
button, input {
    outline: none;
}

a {
    cursor: pointer;
}

.shop-info {
    width: 90%;
    height: 38px;
    font-size: 12px;
}

/* 商品内容 */
.order-content {
    width: 100%;
    border:solid 1px #e6e6e6;

}

.item-content {
    list-style: none;
    height: 119px;
    margin-top: 5px;
}

.item-content > li {
    margin-top: 20px;
    float: left;
    font-size: 12px;
}

/* checkbox */
.td-chk {
    position: relative;
    margin-left: 10px;
}

/* 商品图片和标题 */
.td-item {
    padding-left: 10px;
    width: 33%;
    height: 84%;
    float: left;
}

/* 商品图标 */
.td-item > img {
    width: 80px;
    height: 80px;
}

/* 商品标题 */
.item_info {
    float: right;
    width: 69%;
    height: 40px;
}

/* 商品信息 */
.td-info {
    width: 18%;
    height: 84%;
    padding-right: 40px;
}

/* 商品单价 */
.td-price {
    width: 8%;
    height: 84%;
}

.price-line {
    width: 90%;
    outline: none;
}

.price-now {
    font-weight: 900;
}

/* 商品数量 */
.td-amount {
    width: 12%;
    height: 84%;
}

.item-amount {
    width: 80%;
    height: 21%;
}

.amount-minus {
    width: 22%;
    height: 100%;
    background: #ffffff;
    border: solid 0.1px #e6e6e6;
}

.text-amount {
    width: 40%;
    height: 76%;
    text-align: center;
}

.amount-plus {
    float: right;
    margin-top: 1px;
    width: 22%;
    height: 100%;
    text-align: center;
    background: #ffffff;
    border:0.1px solid #e6e6e6;
}

/* 金额 */
.td-sum {
    width: 12%;
    height: 84%;
    font-weight: 900;
}

.td-inner {
    width: 100%;
    height: 45%;
    color: #ff4400;
}

/* 操作-删除 */
.td-op {
    width: 10%;
    height: 84%;
}

.delete-item {
    width: 100%;
    height: 20%;
    background: #fff;
    cursor: pointer;
    border: solid 0.1px #e6e6e6;
}

/* 多个商品之间有一条分割线 */
.item-separate-line {
    width: 100%;
    height: 1px;
    background: #e6e6e6;
}

/* 鼠标悬停显示图片大图 */
.good_big_img {
    position: absolute;
    z-index: 3;
}

.good_big_img > img {
    width: 200px;
    height: 200px;
}