* {
    margin: 0;
    padding: 0;
}

.site_map_total {
    position: absolute;
    margin-top:18px;
    width: 100%;
    min-width: 1200px;
    height:372px;
    border: solid 1px #ff4400;
    left: 0px;
    z-index: 3;
    background: #fff;
}

/** 统一 **/
.map_title {
    font-size: 20px;
    font-weight: 900;
}

.map_item {
    position: relative;
    font-size: 12px;
    float: left;
    list-style: none;
    left: 15px;
    margin-top: 10px;
    height: 28px;
    cursor: pointer;
}

.map_rightLine {
    position: relative;
    float: left;
    width: 1px;
    height:100%;
    top:-28px;
    background: #ff4400;
}

.map_column {
    float: left;
    width: 299px;
    heigh: 100%;
}

/** 第一列 主题市场 **/
.map_first {
    float: left;
    width: 20%;
    min-width: 300px;
    height: 100%;
}

.map_first_title {
    color: #f43e14;
}

.map_first_content {
    float: left;
    width: 299px;
    heigh: 100%;
}

.map_first_item {
    width: 67.5px;
}

/** 第二列 特色市场 **/
.map_second {
    float: left;
    width: 20%;
    min-width: 300px;
    height: 100%;
}

.map-second_title {
    color: #95af32;
}

.map_second_content {
    float: left;
    width: 299px;
    height: 100%;
}

.map_second_item {
    width: 80px;
}

/** 第三列 阿里 APP **/
.map_third {
    float: left;
    width: 20%;
    min-width: 300px;
    height: 100%;
}

.map_third_title {
    color: #d14d8b;
}

.map_third_item {
   width: 80px;
}

.map_third_short {
    height: 288px;
}

/** 第四列 **/
.map_four {
    float: left;
    width: 20%;
    min-width: 300px;
    height: 100%;
}

.map_four_title {
    color: #009fd8;
}

.map_four_item {
    width: 140px;
}